page-serach {


    div.divAll
    {
      float:left;
     // background-color: #f4e242;
      width:48%;
    }

    .myCardProductContentPromo {
        // float: left;
         //margin-left:10px;
         height: 250px;
         width: 90%;
         padding: 5px;
         }

         ion-card.cardPrix
    {
     // background-color: rgba(155, 193, 219, 0.815);
      margin-top: 0;
      clear:both;
      height: 50px;
      width: 90%;
      padding: 5px;

    }
    p.prix
    {
      font-size: 10px;
      color:black;
      text-align: center;
      margin-top: 10px;
      /*align-items: center;
      display: flex;
      justify-content: center;*/
    }
    div.Promo
    {
      //margin:auto;
     // justify-content: center;
      margin-left:18px;
      margin-right: 0px;
    }
    ion-icon.heart
     {
 
   color: rgba(216, 8, 8, 0.726);
    }
    .myProducts
    {
      
        float: left;
        height: 250px;
        width: 50%;
        padding: 5px;
        
    }
    .noResultText
    {
        text-align: center;
        color: gray;
    }

    div.products
    {
        height:50px;

    }
}
