page-menu {
   
.back
 {
    padding: 5px;
    margin-bottom: 0;
   clear: both;
   font-size:17px;
   font-style: oblique;
   color:black;
    background: #eee; /* fallback for old browsers */

   
 }
}